.landing-page {
    width: 100%;
    height: 100%;
    background: url(http://www.iwishtotravel.com/wp-content/uploads/2015/09/Cinemagraph-NY1.gif) no-repeat center center fixed;
    background-size: cover;
}

#centerContainer {
    height: 100%;
    width: 100%;
    padding: 15% 10% 0 10%;
    margin: 0;
    background-color: rgba(0,0,0,0.6);
}

.center-container h1 {
    color: white;
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Indie Flower', cursive;
}

.center-container input{
    height: 50px;
    border-radius: 0;
    border: none;
    box-shadow: none;
    width: 50%;
    margin: auto;
}