.landing-page {
    /*display: none;*/
    width: 100%;
    height: 100%;
    background-color: #9AC6C5;
}

.center-container {
    height: 100%;
    width: 100%;
    padding: 15% 10% 0 10%;
}

.center-container h1 {
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Indie Flower', cursive;
}
