.result-page {
    height: 100%;
    width: 100%;
}

.map {
    width: 70%;
    margin-left: 30%;
    height: 100%;
    position: fixed;
}

.itinerary {
    width: 30%;
    height: 100%;
    position: fixed;
    background-color: black !important;
}

.panel-heading h3 {
    text-align: center;
}

.itinerary li {
    margin-left: 1.5%;
}

.share-buttons {
    display: table;
    margin-bottom: 5%;
    float: right;
}

.uber-estimate {
    margin: 5% 0 5% 0;
    cursor: pointer;
}