.result-page {
    height: 100%;
    width: 100%;
}

.map {
    width: 50%;
    margin-left: 50%;
    height: 750px;
    position: fixed;
}

.itinerary {
    width: 50%;
    height: 100%;
    position: fixed;
}

.panel-heading h3 {
    text-align: center;
}

.itinerary li {
    margin-left: 1.5%;
}

.share-buttons {
    display: table;
    margin-left: 44%;
    margin-right: auto;
}