.select-page {
    display: block;
    width: 100%;
    height: 100%;
    background: url(http://www.cogecodata.com/UserFiles/file_manager/Products-Services/Data-Centre/Locations/Cogeco-Data-Services-Data-Centre-Toronto.jpg)
        no-repeat center center fixed;
    background-size: cover;
    overflow: scroll;
}

.sidebar {
    margin-top: 0;
    position: fixed;
    width: 20%;
    height: 100%;
    padding: 1% 2% 0 2%;
    background-color: rgba(231,231,231,0.6);
}

.sidebar h3 {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 40px;
    color: black;
}

.sidebar button {
    text-align: center;
    width: 100%;
}

.select-content {
    width: 80%;
    height: 100%;
    margin-left: 20%;
    padding: 2% 1% 0 1%;
}

.select-list {
    padding: 0.5% 1% 0.5% 1%;
}

.panel-body .row{
    background-color: rgba(255,255,255,0);
}

.card {
    background-color: white;
}