.select-page {
    display: block;
    width: 100%;
    height: 100%;
    background: url(http://hdwallpapershoot.com/wp-content/uploads/2015/05/World-Map-Abstract-Wallpaper.jpg)
        no-repeat center center fixed;
    background-size: cover;
}

.sidebar {
    margin-top: 0;
    position: fixed;
    width: 30%;
    height: 100%;
    padding: 0;
    background-color: rgba(0,0,0,0.7);
}

.sidebar h3 {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 20px;
    color: white;
}

.sidebar ul{
    margin-top: 10px;
    list-style: none;
    padding-left: 15px;
    overflow: auto;
    max-height: 81%;
}

.sidebar ul li {
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
}

.sidebar button {
    text-align: center;
    width: 100%;
    height: 50px;
    border-radius: 0;
    background-color: rgba(40,96,144,0.6);
}

.select-content {
    width: 70%;
    height: 100%;
    margin-left: 30%;
    padding-left: 4px;
    overflow: scroll;
    overflow-x: hidden;
}

.select-list {
    padding: 0.5% 1% 0.5% 1%;
}

.panel-body .row{
    background-color: rgba(255,255,255,0);
}

.panel-group{
    margin-bottom: 0;
}

.card{
    margin-bottom: 10px;
    background: white;
    height: 300px;
}

.ratingImage{
    float: right;
    margin-top: 10px;
}

.list-group-item {
    margin: 0 0 0 0;
    cursor: pointer;
}

#currentLocationForm{
    margin: 10px;
}

#currentLocationForm input{
    width: 100%;
    border-radius: 0;
    border: none;
    box-shadow: none;
    height: 30px;
    padding: 3px;
    margin-bottom: 5%;
}

#currentLocationForm label{
    color: whitesmoke;
    text-align: center;
} 