.select-page {
    display: block;
    width: 100%;
    height: 100%;
    background: url(http://www.cogecodata.com/UserFiles/file_manager/Products-Services/Data-Centre/Locations/Cogeco-Data-Services-Data-Centre-Toronto.jpg)
        no-repeat center center fixed;
    background-size: cover;
    overflow: scroll;
}

.sidebar {
    margin-top: 0;
    position: fixed;
    width: 30%;
    height: 100%;
    padding: 0;
    background-color: rgba(0,0,0,0.90);
}

.sidebar h3 {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 20px;
    color: white;
}

.sidebar ul{
    margin-top: 10px;
    list-style: none;
    padding-left: 15px;
    overflow: auto;
}

.sidebar ul li {
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
}

.sidebar button {
    text-align: center;
    width: 100%;
    height: 50px;
    border-radius: 0;
}

.select-content {
    width: 70%;
    height: 100%;
    margin-left: 30%;
}

.select-list {
    padding: 0.5% 1% 0.5% 1%;
}

.panel-body .row{
    background-color: rgba(255,255,255,0);
}

.panel-group{
    margin-bottom: 0;
}

.attraction-image, .restaurant-image, .hotel-image {
    display: block;
    margin: auto;
    width: 100%;
    margin-top: 10px;
}

.card{
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
    background: white;
    height: 300px;