<!DOCTYPE html>
<html lang="en" ng-app="mainApp" style="height: 100%; width: 100%">
<head>
    <meta charset="UTF-8">
    <title>Insert Pun Here</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/landing.css">
    <link rel="stylesheet" type="text/css" href="css/select.css">
    <link rel="stylesheet" type="text/css" href="css/loading.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,400italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="modules/angular/angular.js"></script>
    <script src="node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
	<script src="scripts/app.js"></script>
	<script src="scripts/controllers.js"></script>
	<script src="scripts/services.js"></script>
</head>
<body ng-controller="mainController">
<div class="landing-page" ng-if="page == 'landingPage'">
    <div class="row center-container">
        <h1>Insert Pun Here</h1>


        <input type="text" ng-model="asyncSelected" placeholder="Please enter your destination" uib-typeahead="address for address in getLocation($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" typeahead-on-select="onSelect($item, $model, $label)" class="form-control">
        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
        <div ng-show="noResults">
          <i class="glyphicon glyphicon-remove"></i> No Results Found
        </div>

        <!-- 
        <div class="input-group">
            <input type="text" class="form-control" ng-model="location" placeholder="Please enter your destination" id="location-text"/>
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="search-button" ng-click="queryLocation(location)">Search!</button>
            </span>
        </div> -->
    </div>
</div>
<div class="select-page" ng-if="page == 'selectPage'">
    <div class="sidebar">
        <h3 id="destination-label">{{location}} Itinerary</h3>
        <ul class="list-group" id="selected-list">
            <li class="list-group-item" ng-repeat="event in selectedEvents">{{event.name}}</li>
        </ul>
        <button class="btn btn-primary" ng-click="generateItinerary()">Generate Itinerary</button>
    </div>
    <div class="select-content">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#attractions-collapse">Attractions</a>
                    </h4>
                </div>
                <div id="attractions-collapse" class="panel-collapse active collapse in">
                    <div class="list-group select-list" id="attractions-list">
                        <a class="list-group-item" ng-repeat="attraction in loadedOptions.attractionsOptions" ng-click="addEvent(attraction)" ng-class="attraction.selected ? 'active':''">{{attraction.name}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#restaurant-collapse">Restaurants</a>
                    </h4>
                </div>
                <div id="restaurant-collapse" class="panel-collapse collapse in">
                    <div class="list-group" id="restaurant-list">
                        <a class="list-group-item" ng-repeat="restaurant in loadedOptions.restaurantOptions" ng-click="">{{restaurant.name}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#hotel-collapse">Hotels</a>
                    </h4>
                </div>
                <div id="hotel-collapse" class="panel-collapse collapse in">
                    <div class="list-group" id="hotel-list">
                        <a class="list-group-item" ng-repeat="hotel in loadedOptions.hotelOptions">{{hotel.name}}</a>
                    </div>
                </div>
            </div>
        </div>

        <button ng-click="debug()">
            Debugg
        </button>
    </div>
</div>
<div class="result-page" ng-if="page=='resultPage'">
    <div class="map"></div>
    <div class="itinerary">
        <h3>Itinerary</h3>
        <ul class="list-group">
            <li class="list-group-item"><span class="badge">2 hours</span>Stop 1</li>
            <li class="list-group-item"><span class="badge">30 min</span>Stop 2</li>
        </ul>
    </div>
</div>
<div class="loading-page" ng-if="page=='loading-page'">
    <div class="load-wrapper">
        <div class="load-cube c1"></div>
        <div class="load-cube c2"></div>
        <div class="load-cube c4"></div>
        <div class="load-cube c3"></div>
    </div>
</div>
</body>
</html>